.product-list-view-img {
    height: 250px;
}

.product-list-view-img figure {
    height: 100%;
    width: 100%;
}

.product-list-view-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-list-view-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.shop-product-sort {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.product-view-sort button {
    border: none;
    outline: none;
    padding: 4px 6px;
}

button.product-grid-view-btn {
    margin-right: 10px;
    background-color: #d2d2d2;
}

.product-view-sort button.active {
    background-color: black;
    color: white;
}

.product-list-wrapper .single-product-wrapper {
    height: 400px;
}

.product-category-outer.card {
    height: 100%;
}

.product-available-count p {
    margin: 0;
}

.filter-search-input input {
    width: 100%;
    padding: 0 10px;
}


.product-sort-count-wrapper {
    background-color: aliceblue;
}

.product-list-wrapper {
    background-color: antiquewhite;

}

.single-product-list-wrapper {
    background-color: white;
    width: 100%;
    margin: 0;
}

.filter-product-category {
    margin-top: 20px;
}

.filter-product-category button {
    border: none;
    display: block;
    width: 100%;
    text-align: left;
    padding: 5px 15px;
    margin-bottom: 5px;
    text-transform: capitalize;
}

select#brand {
    width: 100%;
    text-transform: capitalize;
}

select#brand option {
    text-transform: capitalize;
}

.filter-product-category button.active {
    text-decoration: underline;
}

.filter-product-category button:hover {
    text-decoration: underline;
}

.product-color-list {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.product-color-list button {
    border: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-color-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
}

button.color-btn.color-all {
    background-color: white;
    display: flex;
    align-items: center;

}

.product-color-list button svg {
    color: white;
    font-size: 12px;
}